@tailwind base;
@tailwind components;
@tailwind utilities;

/* ......font familis......... */
@font-face {
  font-family: "Tomato";
  src: url("Fonts/TomatoGrotesk-Regular.otf");
}

.tomato {
  font-family: "Tomato";
}

@font-face {
  font-family: "sandbrush";
  src: url("Fonts/sandbrush.TTF");
}

.sandbrush {
  font-family: "sandbrush";
}

@font-face {
  font-family: "montserrat";
  src: url("Fonts/MONTSERRAT.TTF");
}

.monserrat {
  font-family: "montserrat";
}

/* .......Corousal...... */
.slick-slide div {
  margin: 0 0.25rem;
}
/* -----listfooter--------- */
.listfooter {
  @apply flex items-center gap-1 pb-2;
}
.glass {
  background: rgba(255, 159, 0, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.effect {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(70, 40, 11, 0.37);
}
